.image {
    width: 250px;
    height: 200px;
    /* border: solid 1px black; */
  }

.navbar {
  background-image: url(../images/prism.png);
  /* background-image: url(../images/map.jpg); */
  border-bottom: solid 5px #cccccc;
}

.navbar-text {
  color: #ffffff;
  font-family: 'Raleway', sans-serif;
}

.bottom {
    padding-bottom: 100px;
    padding-top: 10px;

  }

body {
  background-image: url(../images/ravenna.png);
  /* background-image: url(../images/map.jpg); */
  }

.jumbotron {
  background-image: url(../images/ravenna.png);
  /* background-image: url(../images/map.jpg); */
  border-bottom: solid 1px #cccccc;
  font-family: 'Raleway', sans-serif;
  line-height: 30px;
  }

.gems {
  padding-bottom: 10px;
  border-bottom: solid 1px #cccccc;
  }

.footer {
  background-image: url(../images/prism.png);
  position: fixed;
  left: 0;
  bottom: 0;
  margin: 0px;
  width: 100%;
  padding: 0px;
  border-top: solid 2px #cccccc;
}

.copy {
  text-align: center;
  color: #ffffff;
  font-size: 10px;
  padding: 10px;
  font-family: 'Raleway', sans-serif;
  }